-# ----------------------------------------------------------------------------
-# app/views/pages/home.html.haml
-# ----------------------------------------------------------------------------
%div#pages-root  
  %div#dough-app
