-# ----------------------------------------------------------------------------
-# app/views/pages/home.html.haml
-# ----------------------------------------------------------------------------
%div#pages-root
  %h1 Pages#home
  %p.page-color-test  Find me in app/views/pages/home.html.haml
  %div#dough-app
